.side-menu{
    height: 100vh;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--secondry-BG);
}

.side-menu .user{
    width: 80%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--main-BG);
    margin-block-end: 20px;
    border-bottom: 2px solid var(--main-BG);
}

.side-menu .user svg{
    font-size: 28px;
    margin-block-end: 10px;
}

.side-menu .user .name{
    font-size: x-large;
    margin-block-end: 2px;
}


.side-menu .side-menu-items{
    height: 65%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    list-style: none;
}

.side-menu .side-menu-items a{
    text-decoration: none;
    color: var(--main-BG);
    margin-block-end: 25px;
    font-size: 18px;
    width: 100%;
    text-align: start;
}

.side-menu .side-menu-items .side-item-text{
    padding: 15px;
    border-radius: 15px;
}

.side-menu .side-menu-items .side-item-text.active{
    background-color: var(--main-BG);
    color: var(--secondry-BG);
}

.side-menu .side-menu-items .side-item-text:hover{
    background-color: var(--main-BG);
    color: var(--secondry-BG);
}

.side-menu .side-menu-items .side-item-text svg{
    margin-inline: 20px;

}
.side-menu .logout{
    color: var(--main-BG);
    cursor: pointer;
    background-color: #cc0505;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    margin-inline-start: 20px;
    border-radius: 15px;
    width: 80%;
    font-size: 18px;
    text-decoration: none;
    height: 7%;
}

.side-menu .logout span{
    margin-inline-end: 25px;
}