.cover-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 10px #ddd;
    margin-block-end: 50px;
    font-family: var(--en-font);
}
.color-part{
    width: 100%;
    height: 200px;
    z-index: 1;
    background-color: var(--secondry-BG);
}
.white-part{
    width: 100%;
    height: 200px;
    z-index: 1;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.white-part .full-pattern{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    width: 100%;
}

.white-part .full-pattern .pattern{
    width: 250px;
    height: 70%;
}

.white-part .mobile-pattern{
    width: 100%;
    height: 100%;
    display: none;
}

.company-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: absolute;
    top: 250px;
}

.company-details .company-logo{
    width: 150px;
    height: 150px;
    border-radius: 50px;
    cursor: default;
    margin-block-end: 15px;
    border: 1px solid var(--main-text)
}

.company-details .company-header{
    background-color: var(--secondry-BG);
    border-radius: 15px;
    padding: 10px;
    color: var(--main-BG);

}

@media only screen and (max-width:750) {
    .white-part .mobile-pattern .pattern{
        width: 150px;
        height: 50%;
        display: block;
    }
    .white-part .full-pattern{
        display: none;
    }
}